<div class="container">
  <div class="col-lg-8 col-lg-offset-2">
    <h2 class="center header">Dragonfish: Search the dark web</h1>
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <input class="h-fill search-box" type="text" id="searchBox" />
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="center">
      <input class="btn btn-lg btn-primary" value="Search" onclick="search()"/>
    </div>
  </div>
  <a class="submit-links" href="/submit">Submit new .onion sites</a>
</div>

<script type="text/javascript">
function search() {
  terms = document.getElementById("searchBox").value;
  document.location = "/search?terms=" + encodeURI(terms);
}
</script>
