<div class="container">
  <div class="col-lg-8 col-lg-offset-2">
    <h2 class="center header">Dragonfish: Submit .Onion</h1>
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <input class="h-fill search-box" type="text" name="url" placeholder=""/>
  </div>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="center">
      <input class="btn btn-lg btn-primary" value="Search"/>
    </div>
  </div>
  <a class="submit-links" href="/submit">Submit new .onion sites</a>
</div>
